/* import font from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100; 200; 400; 700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* style the body */
body{
    font-family: 'Poppins' sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hiden;
    height: 100vh;
    background-color: #57a4ad;
}
/* style container */
.container {
    padding: 20px 70px;
    color: #fff;
}
/* style current info */
.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* style date container time */
.date-cont .time{
    font-size: 60px;
}
/* style data container am-pm */
.date-cont #am-pm{
    font-size: 30px;
    margin-left: 20px;
}
/* style date container font weight */
.date-cont{
    font-weight: 100;
}
/* style date container date */
.date-cont .date{
    font-size: 20px;
}
/* style location container */
.location-container{
    text-align: end;
}
/* style location container time zone */
.location-container .time-zone{
    font-size: 20px;
    font-weight: 100;
}
/* style location container country */
.location-container .country{
    font-size: 15px;
    font-weight: 700;
}
/* style current info other weather item */
.current-info .others-items{
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee
}
/* style current info other weather item */
.current-info .others-items .weather-item{
    display: flex;
    justify-content: space-between;
}

/* style future forcast */
.future-forecast{
    background: rgba(24, 24, 27, 0.6);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
}
.future-forecast .today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 10px;
    text-align: center;
}
.future-forecast .today .tmp {
    font: 18px;
    padding: 15px;
}
.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .day .tmp {
    font-weight: 100;
}

